*{
    box-sizing: border-box;
}
.imageLink{
    position:relative;
    top: 300px;
    margin-left: 12.5%;
}
.imageLink img{
    margin:5px;
    width: 30vw;
    height: 280px;
    object-fit: cover;
    transition: 0.3s;
}
.imageLink img:hover{
    transform: scale(1.04);
}
.panel{
    float: left;
}
.imageLink h4{
    text-align: justify;
    font-size: 25px;
    position: relative;
    top: -80px;
    left: 10px;
    color: white;
    background-color: rgb(0, 167, 130);
    width: fit-content;
}



